{{!-- #with sets a context for an object -> i don't need to write bookDetails.title etc. --}}
{{#with bookDetails}}
<h1>{{title}}</h1>
<span>Written by: {{author}}</span>
<p>Summary: {{description}}</p>
<p>Rating: {{rating}}</p>
<a href="/books/edit/{{_id}}">Edit this book</a>
<a href="/books/delete/{{_id}}">Delete this book</a>
{{/with}}